# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.log
*.tlog
*.ilk
*.idb
*.CopyComplete
*.pyc

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Project files
*.sln
*.vcproj
*.vcxproj
*.pyproj
*.suo
*.db
*.opendb
*.user
*.filters
.vs/

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Generated docs
html/
latex/

# Build files
/build*/

# irepo files
.irepo

# third_party files
/third_party/googletest/
/third_party/gmmlib/
/third_party/igc/
/third_party/wdk/
/third_party/compute_runtime/
/third_party/cotire/
